body{
		background-color:#9a9a9a;
	}
h1{
	color:blue;
	background-color:yellow;
	font-size:40px;
}
#heading{
	color:#000;
	text-align:right;
	background-color:green;
}
.heading{
	color:#fafafa;
	text-align:center;
	background-color:blue;
}
p{
	color:red;
	font-size:30px;
	font-weight:bold;
}
		